@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.swiper-custom-pagination .swiper-pagination-bullet {
  background-color: #02979e;
  font-size: 0;
  transition: all 0.1s ease;
  margin: 0rem 0.2rem;
}
.swiper-custom-pagination .swiper-pagination-bullet-active {
  height: 100%;
  width: auto;
  border-radius: 0;
  padding: 0rem 1rem;
  background-color: transparent;
  color: #02979e;
  opacity: 1;
  font-size: 1rem;
}

.cluster-maker {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background: #02979e;
  border-radius: 50%;
  padding: 15px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50%;
  left: -50%;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.mySwiperModal .swiper-button-next,
.mySwiperModal .swiper-button-prev {
  color: #02979e;
}

@media screen and (min-width: 768px) {
  .swiper-custom-pagination .swiper-pagination-bullet {
    height: 100%;
    width: auto;
    border-radius: 0;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: black;
    opacity: 1;
    transition: all 0.1s ease;
    font-size: 1rem;
    font-weight: bold;
  }
  .swiper-custom-pagination .swiper-pagination-bullet-active {
    //border-bottom: 2px solid #02979e;
    color: #02979e;
    opacity: 1;
  }
}
